@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.bg-gradient {
  background: rgb(238, 238, 218);
  background: linear-gradient(
    90deg,
    rgba(238, 238, 218, 1) 4%,
    rgba(240, 230, 237, 1) 31%,
    rgba(245, 245, 245, 1) 49%,
    rgba(237, 221, 237, 1) 74%,
    rgba(246, 244, 222, 1) 93%
  );
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
